{% extends "base.html" %}

{% block title %}
Sensors — HAQLOON
{% endblock %}


{% block page_heading %}
Sensors
{% endblock %}


{% block page_sub %}
Live rover sensor readings
{% endblock %}


{% block content %}


<!-- DEBUG TEST -->
<div class="stat-card">
    <div class="stat-label">
        Raw Data
    </div>

    <div class="stat-value">
        {{ data }}
    </div>
</div>


<div class="stat-grid">

    <div class="stat-card">
        <div class="stat-label">
            Temperature
        </div>

        <div class="stat-value">
            🌡 {{ data.sensors.temperature }} °C
        </div>
    </div>



    <div class="stat-card">
        <div class="stat-label">
            Humidity
        </div>

        <div class="stat-value">
            💧 {{ data.sensors.humidity }} %
        </div>
    </div>



    <div class="stat-card">
        <div class="stat-label">
            Ultrasonic Distance
        </div>

        <div class="stat-value">
            📏 {{ data.sensors.distance }} cm
        </div>
    </div>



    <div class="stat-card">
        <div class="stat-label">
            LiDAR
        </div>

        <div class="stat-value">
            📡 {{ data.sensors.lidar }} mm
        </div>
    </div>

</div>



<div class="stat-card">

    <div class="stat-label">
        Last Update
    </div>

    <div class="stat-value">
        🕒 {{ data.last_update }}
    </div>

</div>


{% endblock %}